<HTML>
  <head>
    <title>pages</title>
  </head>
  <body>

    <p>Request received by server at {{ now }} was <BR>
      {{ request_str }}
    </P>

    <P>Pages for demo:</P>
    <UL>
      <LI><a href="{{ this_page_URL }}/ui">ui</a></LI>
      <LI><a href="{{ this_page_URL }}/logs">logs</a></LI>
    </UL>
    <P>Admin pages</P>
    <UL>
      <LI><a href="{{ this_page_URL }}/livemetrics">current metrics</a></LI>
    </UL>

    {% if msg %}
    <p>MESSAGE = {{ msg }}</p>
    {% endif %}
  </body>

</HTML>
