<HTML>
  <head>
    <title>logs</title>
  </head>
  <body>

    <p>Request received by server at {{ now }} was <BR>
      {{ request_str }}
    </P>

<P>
<a href="{{ this_page_URL }}">reload page</a> to view current logs
</P>
<p>actions</p>
<UL>
<LI><a href="{{ this_page_URL }}?action=clear">clear history</a></LI>
</UL>
<!-- the following Jinja2 is for when the live updating isn't in effect -->
<!--
{ % for line in log_data_list -% }
    { { line } }<BR>
{ % endfor % }
-->
<P>Current log entries:</P>
<ul id="log_container"></ul>

<script>
function startLiveUpdate () {
  let log_list = [];
  const log_container = document.getElementById("log_container");

  setInterval(function () {

    // remove existing list elements (LI)
    // https://stackoverflow.com/a/3955238/1164295
    log_container.innerHTML = '';


  // create dynamic list from fetch
  // https://stackoverflow.com/a/55090373/1164295
fetch('{{ logs_URL }}')
    .then(response => {
        if (response.ok) {
            return response.json();
        } else {
            throw new Error(response.statusText);
        }
    })
    .then(data => {
        //console.log(data); // expecting a list of strings
        // https://stackoverflow.com/a/3010848/1164295
        for (log_entry of data) {
            //console.log(log_entry);
            let li = document.createElement("li");
            let node = document.createTextNode(log_entry);
            li.appendChild(node);
            log_container.appendChild(li);
        }
      }).catch(function (error) {
         console.log(error);
      });
    }, 2000);
  }

  document.addEventListener('DOMContentLoaded', function () {
    startLiveUpdate();
  });

</script>

{% if msg %}
<p>MESSAGE = {{ msg }}</p>
{% endif %}
</body>
</html>


</HTML>
